html {
	background-color: whitesmoke;
}

.navbar-brand {
	margin-left: 0!important;
}

.navbar-item img {
  max-height: 6rem;
}

.box {
  height: 100%;
}

.number {
  display: inherit;
  font-size: 1rem;
}
